// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Bold.eot');
    src: local('../fonts/Gotham Pro Bold'), local('../fonts/GothamPro-Bold'),
    url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff2') format('woff2'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Light.eot');
    src: local('../fonts/Gotham Pro Light'), local('../fonts/GothamPro-Light'),
    url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Light.woff2') format('woff2'),
    url('../fonts/GothamPro-Light.woff') format('woff'),
    url('../fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Black.eot');
    src: local('../fonts/Gotham Pro Black'), local('GothamPro-Black'),
    url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Black.woff2') format('woff2'),
    url('../fonts/GothamPro-Black.woff') format('woff'),
    url('../fonts/GothamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Italic.eot');
    src: local('../fonts/Gotham Pro Italic'), local('GothamPro-Italic'),
    url('../fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Italic.woff2') format('woff2'),
    url('../fonts/GothamPro-Italic.woff') format('woff'),
    url('../fonts/GothamPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('../fonts/GothamProNarrow-Bold.eot');
    src: local('../fonts/Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
    url('../fonts/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamProNarrow-Bold.woff2') format('woff2'),
    url('../fonts/GothamProNarrow-Bold.woff') format('woff'),
    url('../fonts/GothamProNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Medium.eot');
    src: local('../fonts/Gotham Pro Medium'), local('GothamPro-Medium'),
    url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-BoldItalic.eot');
    src: local('../fonts/Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
    url('../fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
    url('../fonts/GothamPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.eot');
    src: local('../fonts/Gotham Pro'), local('GothamPro'),
    url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-MediumItalic.eot');
    src: local('../fonts/Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
    url('../fonts/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-MediumItalic.woff2') format('woff2'),
    url('../fonts/GothamPro-MediumItalic.woff') format('woff'),
    url('../fonts/GothamPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-BlackItalic.eot');
    src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
    url('../fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-BlackItalic.woff2') format('woff2'),
    url('../fonts/GothamPro-BlackItalic.woff') format('woff'),
    url('../fonts/GothamPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Pro Narrow';
    src: url('../fonts/GothamProNarrow-Medium.eot');
    src: local('../fonts/Gotham Pro Narrow Medium'), local('../fonts/GothamProNarrow-Medium'),
    url('../fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamProNarrow-Medium.woff2') format('woff2'),
    url('../fonts/GothamProNarrow-Medium.woff') format('woff'),
    url('../fonts/GothamProNarrow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-LightItalic.eot');
    src: local('../fonts/Gotham Pro Light Italic'), local('../fonts/GothamPro-LightItalic'),
    url('../fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-LightItalic.woff2') format('woff2'),
    url('../fonts/GothamPro-LightItalic.woff') format('woff'),
    url('../fonts/GothamPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

body {
    background-image: linear-gradient(#ffffff, #d1d1d1);
}



.top-bar {
    width: 100%;
    border-bottom: 2px solid #585857;
    padding: 20px 0 10px 0;
    .custom-container {
        display: flex;
        justify-content: space-between;
        .left-side {
            width: 50%;
            span {
                font-size: 10px;
                color: #56564f;
                font-family: "Gotham Pro";
                img {
                    margin-right: 5px;
                }
            }
        }
        .right-side {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            .top-bar-email {
                margin-right: 30px;
                a {
                    text-transform: none;
                    text-decoration: none;
                    font-size: 10px;
                    color: #56564f;
                    font-family: "Gotham Pro";
                    &:hover {
                        color: #9f9f9f;
                    }
                    img {
                        margin-right: 5px;
                    }
                }
            }
            .top-bar-phone {
                a {
                    text-transform: none;
                    text-decoration: none;
                    font-size: 10px;
                    color: #56564f;
                    font-family: "Gotham Pro";
                    &:hover {
                        color: #9f9f9f;
                    }
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.main-header {
    padding: 10px 0;
    .main-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 38px;
        .main-header-left-side {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            .dropdown-menu.show {
                border-radius: 0;
                padding: 20px 15px;
                li {
                    .menu-dropdown-item {
                        font-size: 14px;
                        line-height: 20px;
                        color: #56564f;
                        font-weight: 500;
                        font-family: "Gotham Pro";
                        text-transform: uppercase;
                        text-decoration: none;
                        line-height: 28px;
                        &:hover {
                            color: #333d8e;
                            border-bottom: 2px solid #fbdf6d;
                        }
                        &.active {
                            color: #333d8e;
                            border-bottom: 2px solid #fbdf6d;
                        }
                    }
                }
            }
            .chose-lang {
                .language {
                    font-size: 14px;
                    line-height: 13px;
                    color: #56564f;
                    font-weight: 500;
                    font-family: "Gotham Pro";
                    text-decoration: none;
                    &.active {
                        font-weight: bold;
                        color: #333d8e;
                    }
                }
            }
        }
        .main-header-center {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            span {
                font-family: "Gotham Pro";
                color: #56564f;
                font-size: 22px;
                font-weight: bold;
            }
        }
        .main-header-right-side {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            .input-group {
                span {
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    cursor: pointer;
                }
                .search-input {
                    transition: all 1s ease-out;
                    width: 0;
                    padding: 0;
                    border: 0;
                    outline: none !important;
                    box-shadow: none;
                    &.show {
                        width: auto;
                        padding: 6px 12px;
                        border: 1px solid #cbcbcb;
                    }
                }
            }
        }
    }
    .dropdown {
        .btn-secondary {
            background: transparent;
            padding: 0;
            border: none;
        }
    }
    .dropdown-toggle::after {
        border: none !important;
    }
}

.app-menu {
    .app-menu-container {
        padding-top: 11px;
        border-top: 2px solid #585857;
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-size: 14px;
                    color: #56564f;
                    font-weight: 500;
                    font-family: "Gotham Pro";
                    text-decoration: none;
                    &:hover {
                        color: #333d8e;
                        border-bottom: 2px solid #fbdf6d;
                    }
                    &.active {
                        color: #333d8e;
                        border-bottom: 2px solid #fbdf6d;
                    }
                }
            }
        }
    }
}

.home-content {
    .main-widget-left {
        background-color: #ffffff;
        border: 1px solid #d1d1d1;
        padding: 20px 10px;
        .main-widget-title {
            font-size: 14px;
            color: #333d8e;
            font-family: "Gotham Pro";
            text-transform: uppercase;
            text-align: center;
            border-bottom: 2px solid #585857;
            padding-bottom: 5px;
        }
        #myTab {
            border: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .nav-item {
                .nav-link {
                    border: none;
                    padding: 0 16px;
                    font-size: 12px;
                    color: #56564f;
                    font-weight: 500;
                    font-family: "Gotham Pro";
                    &.active {
                        color: #333d8e;
                        border-bottom: 2px solid #fbdf6d;
                    }
                    &:hover {
                        color: #333d8e;
                        border-bottom: 2px solid #fbdf6d;
                    }
                }
            }
        }
        .tab-content {
            .widget-news-link {
                div {
                    .news-description {
                        font-size: 11px;
                        color: #56564f;
                        font-weight: 500;
                        font-family: "Gotham Pro";
                        margin-bottom: 0;
                    }
                    .news-time {
                        font-size: 11px;
                        color: #56564f;
                        font-weight: 500;
                        font-family: "Gotham Pro";
                        margin-bottom: 0;
                    }
                    &.main {
                        .news-description {
                            color: #333d8e;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .read-all-news {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            font-size: 13px;
            color: #293564;
            font-family: "Gotham Pro";
            background-color: #ffd62c;
            text-decoration: none;
        }
    }
    .home-left-block {
        .home-big-news {
            min-height: 380px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 40px;
            flex-direction: column;
            a {
                display: flex;
                justify-content: flex-end;
                max-width: 50%;
                .category {
                    display: flex;
                    align-items: flex-end;
                    flex-direction: column;
                    .card-body {
                        margin-top: 10px;
                        .card-title {
                            font-size: 27px;
                            color: #333d8e;
                            font-weight: 800;
                            font-family: "Gotham Pro";
                            text-align: right;
                            background: #ffffff87;
                            padding: 0 5px;
                        }
                        .card-text {
                            font-size: 25px;
                            color: #333d8e;
                            font-weight: 400;
                            font-family: "Gotham Pro";
                            text-align: right;
                            background: #ffffff87;
                            line-height: 27px;
                            margin-top: 5px;
                            padding: 0 5px;
                        }
                    }
                }
            }
            .home-big-news-category {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                height: 28px;
                max-width: 170px;
                padding: 0 20px;
                background-color: #ffd62c;
                font-size: 10px;
                color: #1f5e9c;
                font-weight: 500;
                font-family: "Gotham Pro";
                &:after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-left: 15px solid #ffd62c;
                    border-bottom: 0 solid transparent;
                }
            }
            .home-big-news-footer {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 40px;
                div {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    &.home-big-news-footer-center {
                        justify-content: center;
                        .home-big-news-read-more {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            max-width: none;
                            font-size: 16px;
                            color: #293564;
                            font-family: "Gotham Pro";
                            height: 29px;
                            background-color: #ffd62c;
                            text-decoration: none;
                        }
                    }
                    &.home-big-news-footer-right {
                        flex-direction: column;
                        align-items: flex-end;
                        p {
                            font-size: 8px;
                            color: #ffffff;
                            font-weight: 500;
                            font-family: "Gotham Pro";
                            text-align: right;
                            margin-bottom: 0;
                        }
                        a {
                            font-size: 10px;
                            color: #ffffff;
                            font-family: "Gotham Pro";
                            text-align: right;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .three-news-blocks {
            margin: 40px 0;
            .category {
                position: relative;
                .three-news-blocks-category {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    height: 18px;
                    border-radius: 1px;
                    background-color: #ffd62c;
                    padding: 0 10px 0 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .triangle {
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            right: -10px;
                            top: 17px;
                            width: 0;
                            height: 0;
                            border-left: 15px solid transparent;
                            border-right: 0 solid transparent;
                            border-top: 15px solid #ffd62c;
                        }
                    }
                }
                .card-img-top {
                    object-fit: cover;
                }
                .card-body {
                    background: #ffffff;
                    padding: 10px;
                    min-height: 141px;
                    .card-title {
                        font-size: 14px;
                        color: #333d8e;
                        font-weight: bold;
                        font-family: "Gotham Pro";
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .card-text {
                        font-size: 10px;
                        color: #000000;
                        font-weight: 500;
                        font-family: "Gotham Pro";
                        margin-bottom: 0;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    a {
                        font-size: 12px;
                        color: #56564f;
                        font-family: "Gotham Pro";
                        text-decoration: none;
                    }
                }
            }
        }
        .home-right-single-news {
            .home-news-container {
                position: relative;
                height: 380px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                padding: 40px;
                flex-direction: column;
                .category {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 50%;
                    .home-single-news-category {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 28px;
                        max-width: 170px;
                        padding: 0 20px;
                        background-color: #ffd62c;
                        font-size: 10px;
                        color: #1f5e9c;
                        font-weight: 500;
                        font-family: "Gotham Pro";
                        position: absolute;
                        top: 25px;
                        left: 25px;
                        .triang {
                            position: relative;
                            &:after {
                                content: "";
                                position: absolute;
                                right: -35px;
                                bottom: -6px;
                                width: 0;
                                height: 0;
                                border-top: 10px solid transparent;
                                border-left: 15px solid #ffd62c;
                                border-bottom: 0 solid transparent;
                            }
                        }
                    }
                    .card-body {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .card-title {
                            font-size: 26px;
                            line-height: 33px;
                            color: #333d8e;
                            font-weight: 800;
                            font-family: "Gotham Pro";
                            text-align: right;
                            padding: 0 5px;
                            background: rgba(255, 255, 255, 0.5294117647);
                        }
                        .card-text {
                            display: flex;
                            max-width: 255px;
                            font-size: 12px;
                            color: #ffffff;
                            font-weight: 500;
                            font-family: "Gotham Pro";
                            text-align: right;
                        }
                    }
                    .home-single-news-footer-right {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        p {
                            font-size: 8px;
                            color: #ffffff;
                            font-weight: 500;
                            font-family: "Gotham Pro";
                        }
                        a {
                            font-size: 10px;
                            color: #ffffff;
                            font-family: "Gotham Pro";
                            text-align: right;
                            text-decoration: none;
                            ext-shadow: 0px 0px 4px #000000;
                        }
                    }
                }
            }
        }
    }
    .home-two-news-container {
        margin-top: 40px;
        .category {
            position: relative;
            .home-two-news-category {
                position: absolute;
                right: 30px;
                top: 30px;
                height: 24px;
                border-radius: 1px;
                background-color: #ffd62c;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 13px;
                color: #1f5e9c;
                font-weight: 500;
                font-family: "Gotham Pro";
                .triangl {
                    position: relative;
                    padding: 0 10px;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 100%;
                        bottom: -1px;
                        width: 0;
                        height: 0;
                        border-top: 10px solid transparent;
                        border-left: 15px solid #ffd62c;
                        border-bottom: 0 solid transparent;
                    }
                }
            }
            .card-img-top {
                min-height: 260px;
                object-fit: cover;
            }
            .card-body {
                background: #ffffff;
                padding: 10px;
                min-height: 181px;
                .card-title {
                    font-size: 25px;
                    line-height: 25px;
                    color: #333d8e;
                    font-weight: bold;
                    font-family: "Gotham Pro";
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 10px 0;
                }
                .card-author-date {
                    font-size: 12px;
                    color: #56564f;
                    font-weight: 500;
                    font-family: "Gotham Pro";
                    text-transform: uppercase;
                }
                .card-source {
                    font-size: 10px;
                    color: #000000;
                    font-weight: 500;
                    font-family: "Gotham Pro";
                }
                a {
                    font-size: 10px;
                    color: #56564f;
                    font-family: "Gotham Pro";
                }
            }
        }

    }
}


